# Godot-specific ignores
.import/
export.cfg
export_presets.cfg
*.import

# Mono-specific ignores
.mono/

# System/tool-specific ignores
.directory
*~
2d/hexagonal_map/troll.png.import
*.import
2d/hexagonal_map/troll.png.import
*.import
